{{ ansible_managed | comment }}

[Unit]
Description=Prometheus
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus

ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_data_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --web.console.libraries={{ prometheus_data_dir }}/console_libraries \
  --web.console.templates={{ prometheus_data_dir }}/consoles \
  --web.listen-address="0.0.0.0:9090"

CapabilityBoundingSet=CAP_SET_UID
LimitNOFILE=65000
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

ReadWriteDirectories={{ prometheus_data_dir }}
ProtectSystem=full

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
